.masVedidos{
    margin-top: 30px;
    h2{
        width: auto;
        text-align: center;
        border-bottom: 3px solid #e7bc3d;
        padding-bottom: 10px;
    }
}

.subtitulo {
    color: #585757;
    margin: 0 auto 40px;
    border-bottom: 2px solid $colorPrimario;
    padding-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }