.presentacion{
    position: relative;
    
}

.presentacion-texto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    h1{
        color: white;
        font-size: 88px;
        text-align: center;
    }
}